@keyframes flip-horizontal-bottom {
    0% {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    line-height: normal;
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
}


.bg-div12 {
    position: absolute;
    top: -310px;
    left: -1168px;
    /*background: linear-gradient(-90deg, #60adf2, #50f004);*/
    width: 3649px;
    height: 1595px;
}

.rectangle-div110 {
    position: absolute;
    top: 0;

    background-color: var(--color-gray-200);
    width: 100%;
    height: 66px;
}

.purchase-officer-div7 {
    position: absolute;
    top: 11px;
    right: 0;
    display: inline-block;
}

.ellipse-icon11 {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 35px;
    height: 35px;
}

.login-1-icon11,
.user-det-div11,
.user-div11 {
    position: absolute;
    top: 0;
    width: 49px;
    height: 49px;
}

.login-1-icon11 {
    right: 0;
    object-fit: cover;
}

.user-det-div11,
.user-div11 {
    right: 137px;
}

.user-det-div11 {
    top: 9px;
    right: 44px;
    width: 186px;
}

.lnmiit-inventory-management-sy11 {
    position: absolute;
    top: 9px;
    left: 26px;
    font-size: var(--font-size-xl);
    display: inline-block;
}

.rectangle-div111 {
    position: absolute;
    top: 52px;

    background-color: var(--color-gray-200);
    width: 100%;
    height: 66px;
}

.rectangle-div112 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-gray-100);
    width: 120px;
    height: 40px;
}

.log-out-div11 {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
}

.logout-1-icon11 {
    position: absolute;
    top: 6px;
    right: 85px;
    width: 27px;
    height: 27px;
    object-fit: cover;
}

.logout-button11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 72px;
    right: 7px;
    width: 120px;
    height: 40px;
}

.rectangle-div113 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray-200);
    width: 205px;
    height: 52px;
    opacity: 1;
}

.rectangle-div113.animate {
    animation: 1s ease 0s 1 normal forwards flip-horizontal-bottom;
}

.request-history-div4 {
    position: absolute;
    top: 14px;
    left: 22px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 168px;
    height: 21px;
}

.button-37 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 66px;
    left: 411px;
    width: 205px;
    height: 52px;
    opacity: 0;
}

.button-27.animate,
.button-37.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}

.inventory-location-div6 {
    position: absolute;
    top: 14px;
    left: 7px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-cyan);
    text-align: center;
    display: inline-block;
    width: 183px;
    height: 21px;
}

.button-27,
.rectangle-div115 {
    position: absolute;
    left: 0;
    height: 52px;
}

.button-27 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 66px;
    width: 205px;
    opacity: 0;
}

.line-div2 {
    position: absolute;
    top: 65.5px;

    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}

.rectangle-div115 {
    top: 0;
    background-color: var(--color-gray-200);
    width: 206px;
    opacity: 1;
}

.rectangle-div115.animate {
    animation: 1s ease 0s 1 normal forwards flip-horizontal-bottom;
}

.pending-requests-div3 {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 186px;
    height: 22px;
}

.button-17 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 66px;
    left: 205px;
    width: 206px;
    height: 52px;
    opacity: 0;
}

.button-17.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}


.po-invloc-div {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.form {
    position: absolute;
    top: 140px;
    right: 0px;
}

.search_icon {
    position: absolute;
    top: 0px;
    right: 120px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.Search-box {
    border-radius: 5px;
    background-color: #d9d9d9;
    /* font-size: 13px; */
    font-family: var(--font-poppins);
}

.options {
    border-radius: 5px;
    background-color: #d9d9d9;
    font-family: var(--font-poppins);
    font-size: 15px;
}

.search {
    position: absolute;
    top: 0px;
    right: 15px;
}

.dropdown {
    position: absolute;
    top: 0px;
    right: 195px;
}


table {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border-collapse: collapse;
    width: 96%;
    color: black;
    counter-reset: Serial;
}

tr {
    background-color: rgba(217, 217, 217, 0.49);
    /* font-weight: 100; */
}

th,
td {

    text-align: left;
    padding: 10px;
    /* border: 1px solid #363636; */
    /* font-weight: 100; */
}

tr > th {
    border-bottom: 1px solid #363636;
}

tr > th:last-child {
    border-right: none;
}

th {
    border-right: 1px solid #363636;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr td {
    border-right: 1px solid #363636;
}

tr td:last-child {
    border-right: none;
}

.scroll {
    position: relative;
    margin: auto;
    border-radius: 10px;
    top: 185px;
    height: 580px;
    overflow-y: auto;
}

tr td:first-child:before {
    counter-increment: Serial; /* Increment the Serial counter */
    content: "" counter(Serial); /* Display the counter */
}

