{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title></title>
    <meta name="description" content=""/>

    <link rel="stylesheet" href="{% static 'css/global1.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/IM-request-purchase-quotations.css' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
</head>

<body>
<div class="rquest-purchase-cont-div">
    <div class="rectangle-div75"></div>
    <div class="rectangle-div75"></div>
    <div class="rectangle-div77"></div>
    <div class="user-det-div7">
        <div class="inventory-manager-div3">Inventory Manager</div>
        <div class="user-div7">
            <img class="ellipse-icon7" alt="" src="{% static 'img/login-bg.svg' %}"/>
            <img class="login-1-icon7" alt="" src="{% static 'img/login.png' %}"/>
        </div>
    </div>
    <b class="lnmiit-inventory-management-sy7">LNMIIT Inventory Management System</b>
    <div class="rectangle-div78"></div>
    <button class="logout-button7" id="logOutButton">
        <div class="rectangle-div79"></div>
        <div class="log-out-div7">Log Out</div>
        <img class="logout-1-icon7" alt="" src="{% static 'img/logout.png' %}"/>
    </button>

    <div class="line-div6"></div>
    <div class="if-amount-exceeds-rs25000-the">
        *If amount exceeds Rs.25000 then include 3 quotations.
    </div>
    <form method="POST" class="group-form2">
        {% csrf_token %}
        <div class="group-div">
            <div class="quotation-1-div">Quotation 1:</div>
            <input class="rectangle-input3" name="Quotee1" type="text" required/>
            <input class="rectangle-input4" type="number" name="Amount1" id="Amount1" min="0" required/>
            <div class="quotee-div">Quotee:</div>
            <div class="amount-div">Amount:</div>
            <input class="rectangle-input5" name="QuotationLink1" type="url" required/>
            <div class="insert-quotation-link">Insert Quotation link:</div>
        </div>
        <div class="registeration-no-div">Registeration No.:</div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'info' %}
                    <input class="rectangle-input6" type="text" readonly name="RegNo" value="{{ message }}"/>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="group-div1">
            <div class="quotation-1-div">Quotation 2:</div>
            <input class="rectangle-input3" name="Quotee2" type="text"/>
            <input class="rectangle-input4" type="number" name="Amount2" id="Amount2" min="0"/>
            <div class="quotee-div">Quotee:</div>
            <div class="amount-div">Amount:</div>
            <input class="rectangle-input5" name="QuotationLink2" type="url"/>
            <div class="insert-quotation-link">Insert Quotation link:</div>
        </div>
        <div class="group-div2">
            <div class="quotee-div">Quotee:</div>
            <div class="quotation-1-div">Quotation 3:</div>
            <input class="rectangle-input3" name="Quotee3" type="text"/>
            <input class="rectangle-input4" type="number" name="Amount3" id="Amount3" min="0"/>
            <div class="amount-div">Amount:</div>
            <input class="rectangle-input5" name="QuotationLink3" type="url"/>
            <div class="insert-quotation-link">Insert Quotation link:</div>
        </div>
        <div class="proceed-button">
            <input class="rectangle-div85" type="submit" value="Submit"/>
        </div>
    </form>
</div>
<script src={% static 'js/IM-request-purchase-quotations.js' %}></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' or message.tags == 'error' %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>

</html>