{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title></title>
    <meta name="description" content=""/>

    <link rel="stylesheet" href="{% static 'css/global2.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/IM-remove-inventory.css' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
</head>

<body>
<div class="remove-inv-div">
    <div class="rectangle-div7"></div>
    <div class="rectangle-div7"></div>
    <div class="rectangle-div9"></div>
    <div class="user-det-div1">
        <div class="inventory-manager-div1">Inventory Manager</div>
        <div class="user-div1">
            <img class="ellipse-icon1" alt="" src="{% static 'img/login-bg.svg' %}"/>
            <img class="login-1-icon1" alt="" src="{% static 'img/login.png' %}"/>
        </div>
    </div>
    <b class="lnmiit-inventory-management-sy1">LNMIIT Inventory Management System</b>
    <div class="rectangle-div10"></div>
    <button class="logout-button1" id="logOutButton">
        <div class="rectangle-div11"></div>
        <div class="log-out-div1">Log Out</div>
        <img class="logout-1-icon1" alt="" src="{% static 'img/logout.png' %}"/>
    </button>
    <button class="items-button1" id="itemsButton" data-animate-on-scroll>
        <div class="rectangle-div12"></div>
        <div class="items-div1">Items</div>
    </button>
    <button class="add-inv-button1" id="addInvButton" data-animate-on-scroll>
        <div class="rectangle-div13" data-animate-on-scroll></div>
        <div class="add-inventory-div1">Add Inventory</div>
    </button>
    <button class="request-purchase-button1" id="requestPurchaseButton" data-animate-on-scroll>
        <div class="rectangle-div13" data-animate-on-scroll></div>
        <div class="request-purchase-div1">Request Purchase</div>
    </button>
    <button class="remove-inv-button1" id="removeInvButton" data-animate-on-scroll>
        <div class="rectangle-div15" data-animate-on-scroll></div>
        <div class="remove-inventory-div1">Remove Inventory</div>
    </button>
    <button class="inv-locating-button1" id="inventoryLocating" data-animate-on-scroll>
        <div class="rectangle-div16"></div>
        <div class="inventory-locating-div1">Inventory Locating</div>
    </button>
    <div class="rectangle-div17"></div>
    <div class="line-div1"></div>

    <form method="POST" class="group-form">
        {% csrf_token %}
        {#        <form class="group-form1">#}
        <div class="item-code-div">Item Code:</div>
        <div class="item-num-div">Item No.:</div>
        <input class="rectangle-input"  placeholder="F01125" type="text" name="ItemCode" required/>
        <input class="rectangle-input1"  placeholder="69" type="number" name="ItemNum" min="1" required/>
        {#        </form>#}
        <div class="delete-button">
            {#            <div class="rectangle-div18"></div>#}
            <input type="submit" class="delete-div" name="delete" value="Delete">
        </div>
        <div class="cancel-button">
            {#            <div class="rectangle-div18"></div>#}
            <input type="reset" class="clear-div" name="clear" value="Clear">
        </div>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}
<script src={% static 'js/IM-remove-inventory.js' %}></script>

</body>

</html>