{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title></title>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/PO-inventory.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>

</head>

<body>
<div class="po-invloc-div">
    <!-- <div class="bg-div12"></div> -->
    <div class="rectangle-div110"></div>
    <div class="user-det-div11">
        <div class="purchase-officer-div7">Purchase Officer</div>
        <div class="user-div11">
            <img class="ellipse-icon11" alt="" src="{% static 'img/login-bg.svg' %}"/>
            <img class="login-1-icon11" alt="" src="{% static 'img/login.png' %}"/>
        </div>
    </div>
    <b class="lnmiit-inventory-management-sy11">LNMIIT Inventory Management System</b>
    <div class="rectangle-div111"></div>
    <button class="logout-button11" id="logOutButton">
        <div class="rectangle-div112"></div>
        <div class="log-out-div11">Log Out</div>
        <img class="logout-1-icon11" alt="" src="{% static 'img/logout.png' %}"/>
    </button>
    <button class="button-37" id="button3" data-animate-on-scroll>
        <div class="rectangle-div113" data-animate-on-scroll></div>
        <div class="request-history-div4">Request History</div>
    </button>
    <button class="button-27" id="invertory-location" data-animate-on-scroll>
        <div class="rectangle-div113" data-animate-on-scroll></div>
        <div class="inventory-location-div6">Inventory Location</div>
    </button>
    <button class="button-17" id="button1" data-animate-on-scroll>
        <div class="rectangle-div115" data-animate-on-scroll></div>
        <div class="pending-requests-div3">Pending Requests</div>
    </button>
    <div class="line-div2"></div>
    <div class="scroll">
        <table>
            <tr>
                <th>Serial No.</th>
                <th>Bluiding ID</th>
                <th>Floor</th>
                <th>Room No.</th>
                <th>Item Name</th>
                <th>Item Code</th>
                <th>Item No.</th>
            </tr>
            {% for inventory_obj in inventory %}
                <tr>
                    <td></td>
                    <td>{{ inventory_obj.BuildingID }}</td>
                    <td>{{ inventory_obj.Floor }}</td>
                    <td>{{ inventory_obj.Room }}</td>
                    <td>{{ inventory_obj.ItemCode.Name }}</td>
                    <td>{{ inventory_obj.ItemCode.ItemCode }}</td>
                    <td>{{ inventory_obj.ItemNumber }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="form">
        <form method="GET" class="search" action="{% url 'PO-inventory' %}?">
            <!-- <img class="search_icon" alt="" src="{% static 'img/search.png' %}"/> -->
            <div class="search">
                <input class="Search-box" type="search" placeholder="Search" required name="q" maxlength="128">
            </div>
            <div class="dropdown">
                <select class="options" name="option" id="lang">
                    <option value="BuildingID">Building ID</option>
                    <option value="Floor">Floor</option>
                    <option value="Room">Room No.</option>
                    <option value="Name">Item Name</option>
                    <option value="ItemCode">Item Code</option>
                    <option value="ItemNumber">Item Number</option>
                </select>
            </div>
        </form>
    </div>

</div>
<script src={% static 'js/PO-inventory.js' %}></script>
</body>

</html>