{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title></title>
    <meta name="description" content=""/>

    <link rel="stylesheet" href="{% static 'css/global2.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/PO-pending-request-show-quotation.css' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
</head>

<body>
<div class="pending-req-cont-div">
    <!-- <div class="bg-div"></div> -->
    <!-- <div class="rectangle-div7"></div> -->
    <div class="quotations-listed-div">Quotations Listed</div>
    <div class="rectangle-div8"></div>
    <div class="rectangle-div9"></div>
    <div class="user-det-div1">
        <div class="purchase-officer-div">Purchase Officer</div>
        <div class="user-div1">
            <img class="ellipse-icon1" alt="" src="{% static 'img/login-bg.svg' %}"/>
            <img class="login-1-icon1" alt="" src="{% static 'img/login.png' %}"/>
        </div>
    </div>
    <b class="lnmiit-inventory-management-sy1">LNMIIT Inventory Management System</b>
    <div class="rectangle-div10"></div>
    <button class="logout-button1" id="logOutButton">
        <div class="rectangle-div11"></div>
        <div class="log-out-div1">Log Out</div>
        <img class="logout-1-icon1" alt="" src="{% static 'img/logout.png' %}"/>
    </button>
    <button class="button-3" id="button3" data-animate-on-scroll>
        <div class="rectangle-div12" data-animate-on-scroll></div>
        <div class="request-history-div">Request History</div>
    </button>
    <button class="button-1" id="button1" data-animate-on-scroll>
        <div class="rectangle-div13" data-animate-on-scroll></div>
        <div class="pending-requests-div">Pending Requests</div>
    </button>
    <button class="button-2" id="inventoryLocating" data-animate-on-scroll>
        <div class="rectangle-div12" data-animate-on-scroll></div>
        <div class="inventory-location-div">Inventory Location</div>
    </button>
    <div class="line-div1"></div>


    <form method="POST">
        {% csrf_token %}
        <div class="scroll">
            <table class="auto-index">
                <tr>
                    <th></th>
                    <th>Quotee Name</th>
                    <th>Amount</th>
                    <th>Quotation Link</th>
                </tr>
                {% for quotation in quotations %}
                    <tr>
                        <td><input onclick="getQuotation()" type="radio" class="form-check-input" id="radio2"
                                   name="optradio" value="{{ quotation.QuotationLink }}" required></td>
                        <td>{{ quotation.Quotee }}</td>
                        <td>{{ quotation.Amount }}</td>
                        <td><a class="link" target="_blank" href={{ quotation.QuotationLink }}>Link</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <input type="text" hidden name="QuotationLink" id="QuotationLink">
        <div class="reject-button" id="rejectButton">
            {#            <div class="rectangle-div16"></div>#}
            <input type="submit" name="Reject" value="Reject" class="reject-div">
        </div>
        <div class="approve-button">
            {#            <div class="rectangle-div15"></div>#}
            <input type="submit" name="Accept" value="Approve" class="approve-div">
        </div>
    </form>
</div>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}
<script src={% static 'js/PO-pending-request-show-quotation.js' %}></script>

</body>

</html>