@keyframes fade-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    line-height: normal;
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
    overflow: hidden;
}

.rectangle-div7,
.rectangle-div9 {
    position: absolute;
    top: 0;
    background-color: var(--color-gray-200);
    height: 66px;
}

.rectangle-div7 {
    left: 0;
    width: 2028px;
}

.rectangle-div9 {
    /* left: calc(50% - 720px); */
    width: 100%;
}

.inventory-manager-div1 {
    position: absolute;
    top: 11px;
    right: 0;
    display: inline-block;
}

.ellipse-icon1 {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 35px;
    height: 35px;
}

.login-1-icon1 {
    top: 0;
    width: 49px;
}

.login-1-icon1,
.user-det-div1,
.user-div1 {
    position: absolute;
    height: 49px;
}

.user-div1 {
    top: 0;
    width: 49px;
}

.login-1-icon1 {
    right: 0;
    object-fit: cover;
}

.user-div1 {
    right: 158px;
}

.user-det-div1 {
    top: 9px;
    right: 23px;
    width: 207px;
}

.lnmiit-inventory-management-sy1 {
    position: absolute;
    top: 9px;
    left: 26px;
    font-size: var(--font-size-3xl);
    display: inline-block;
}

.rectangle-div10 {
    position: absolute;
    top: 52px;
    /* left: calc(50% - 720px); */
    background-color: var(--color-gray-200);
    width: 100%;
    height: 66px;
}

.rectangle-div11 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-gray-100);
    width: 120px;
    height: 40px;
}

.log-out-div1 {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
}

.logout-1-icon1 {
    position: absolute;
    top: 6px;
    right: 85px;
    width: 27px;
    height: 27px;
    object-fit: cover;
}

.logout-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 72px;
    right: 7px;
    width: 120px;
    height: 40px;
}

.rectangle-div12 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray-200);
    width: 183.63px;
    height: 52px;
}

.items-div1 {
    position: absolute;
    top: 14.71px;
    left: 50.18px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 82.3px;
    height: 21.15px;
}

.items-button1,
.rectangle-div13 {
    position: absolute;
    width: 183.63px;
    height: 52px;
}

.items-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 66px;
    left: 823.37px;
    opacity: 0;
}

.items-button1.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}

.rectangle-div13 {
    top: 0;
    left: 0;
    background-color: var(--color-gray-200);
    opacity: 1;
}

/* .rectangle-div13.animate {
  animation: 1s ease 0s 1 normal forwards flip-horizontal-bottom;
} */
.add-inventory-div1 {
    position: absolute;
    top: 14px;
    left: 14.97px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 153px;
    height: 21px;
}

.add-inv-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 66px;
    left: 620.03px;
    width: 183.63px;
    height: 52px;
    opacity: 0;
}

.add-inv-button1.animate,
.request-purchase-button1.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}

.request-purchase-div1 {
    position: absolute;
    top: 14px;
    left: 1.32px;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 182px;
    height: 21px;
}

.rectangle-div15,
.request-purchase-button1 {
    position: absolute;
    width: 183.63px;
    height: 52px;
}

.request-purchase-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 66px;
    left: 416.68px;
    opacity: 0;
}

.rectangle-div15 {
    top: 0;
    left: 10.34px;
    background-color: var(--color-gray-200);
    opacity: 1;
}

/* .rectangle-div15.animate {
  animation: 1s ease 0s 1 normal forwards flip-horizontal-bottom;
} */
.remove-inventory-div1 {
    position: absolute;
    top: 14px;
    left: 0;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-cyan);
    text-align: center;
    display: inline-block;
    width: 204px;
    height: 21px;
}

.remove-inv-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 66px;
    left: 203px;
    width: 204px;
    height: 52px;
    opacity: 0;
}

.inv-locating-button1.animate,
.remove-inv-button1.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}

.rectangle-div16 {
    position: absolute;
    top: 0;
    left: 1.1px;
    background-color: var(--color-gray-200);
    width: 201.5px;
    height: 52px;
}

.inventory-locating-div1 {
    position: absolute;
    top: 14px;
    left: 0;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 203px;
    height: 22px;
}

.inv-locating-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 66px;
    left: 0;
    width: 203px;
    height: 52px;
    opacity: 0;
}

.rectangle-div17 {
    position: absolute;
    top: 488px;
    left: 40px;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1359px;
    height: 222px;
    display: none;
}

.item-code-div,
.item-num-div {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-6xl);
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 399.06px;
    height: 56.91px;
}

.item-num-div {
    top: 87.55px;
}

.rectangle-input,
.rectangle-input1 {
    border: 0;
    padding-left: 10px;
    font-size: 20px;
    background-color: var(--color-gray-100);
    position: absolute;
    top: 7.3px;
    left: 256.13px;
    border-radius: var(--br-sm);
    width: 343.87px;
    height: 49.61px;
}

.rectangle-input1 {
    top: 91.92px;
}

/*.group-form1,*/
/*.rectangle-div18 {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 600px;*/
/*    height: 144.45px;*/
/*}*/

.rectangle-div18 {
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    width: 360px;
    height: 111px;
}

.delete-div {
    position: absolute;
    /*top: 26px;*/
    /*left: 116px;*/
    border-radius: var(--br-lg);
    border-color: var(--color-gray-100);
    background-color: var(--color-gray-100);
    /*top: 440px;*/
    /*left: 167px;*/
    width: 360px;
    height: 111px;
    font-size: var(--font-size-6xl);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
}

.delete-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 420px;
    left: 167px;
    width: 360px;
    height: 111px;
}

.clear-div {
    position: absolute;
    /*top: 26px;*/
    /*left: 126px;*/
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    border-color: var(--color-gray-100);
    font-size: var(--font-size-6xl);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    width: 360px;
    height: 111px;
    text-align: center;
    display: inline-block;
}

.cancel-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 420px;
    left: 735px;
    width: 360px;
    height: 111px;
}

.group-form,
.line-div1 {
    position: absolute;
    top: 165px;
    left: 56px;
    width: 100%;
    height: 554px;
}

.line-div1 {
    top: 65.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}

.remove-inv-div {
    position: relative;
    /* background-color: var(--color-white); */
    width: 100%;
    height: 1024px;
    /* overflow: hidden; */
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-poppins);
}
