@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

html, body {
    display: grid;
    height: 85vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
}

::selection {
    background: #a8ff80;

}

.container {
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container form .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    left: 0px;
    bottom: 3px;
    border-radius: 5px;

}

.container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form .input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after {
    transform: scaleX(1);
    transform-origin: left;
}

.container form .button {
    margin: 40px 0 20px 0;
}

.container .input-box input[type="submit"] {
    background: linear-gradient(to right, #35a68c 0%, #6271c0 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .input-box input[type="submit"]:hover {
    letter-spacing: 1px;
    background: linear-gradient(to left, #35a68c 0%, #6271c0 100%);
}

.container .option {
    font-size: 14px;
    text-align: center;
}

